body.legion{
    background: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/splash.png) center right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0px;
    background-position-y: 0px;
}