body.legion{
    background: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/splash_no_logo.png) center right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0px;
    background-position-y: 0px;
}

.legion .background_glow {
    height: 100%;
    width: 100%;
    background: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/background_glow.png) center center no-repeat transparent;
    opacity: 0.6;
}