.legionui .div_planet_list_cont {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/img-menu-bground-right-legionui.png) 17 17 47 47 fill !important;
}
.legionui .div_planet_list_item_group {
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
    box-shadow: inset 0px 0px 10px rgba(255, 18, 18, 0.5) !important;
}
    .legionui .div_planet_list_item_group:hover {
        border: 1px solid rgba(255,0,0,1) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .legionui .div_planet_list_item_group:active {
        border: 1px solid rgba(255,0,0,1) !important;
        background: rgba(255,0,0,1) !important;
        box-shadow: inset 0px 0px 10px rgba(255,0,0,1) !important;
    }

.legionui .div_planet_list_item_active {
    background: rgba(160,0,0,1) !important;
    border: 1px solid rgba(220,0,0,1) !important;
    box-shadow: 0px 0px 30px rgba(255,0,0,1) !important;
}

.legionui .list_control_btn:hover {
        background: #970000;
        border: 1px solid #970000;
        box-shadow: inset 0px 0px 10px #970000;
    }

    .legionui .list_control_btn:active {
        background: #900000;
        border: 1px solid #900000;
        box-shadow: inset 0px 0px 10px #900000;
    }

.legionui .div_planet_list_panel {
    color: white !important;
    text-shadow: 0px 0px 10px #970000 !important;
}

.legionui .btn_planet_thumb {
    border: 1px solid rgba(255,0,0,0.8) !important;
    box-shadow: inset 0px 0px 10px rgba(255,0,0,0.8) !important;
}

    .legionui .btn_planet_thumb:hover {
        background:rgba(255,0,0,0.8) !important;
    }

.legionui .btn_planet_thumb.btn_planet_thumb_active {
    background:rgba(255,0,0,0.8) !important;
}

.legionui .planet_title {
    color:#FFF !important;
}

.legionui .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(255,0,0,0.5) !important;
}

.legionui .div_planet_list_item_cont {
    box-shadow: none;
}
/* MIXED */
.mixedui .div_planet_list_cont {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/img-menu-bground-right-mixed.png) 17 17 47 47 fill !important;
}

.mixedui .div_planet_list_item_group {
    border: 1px solid rgba(119, 34, 158, 0.4) !important;
    box-shadow: inset 0px 0px 10px rgba(119, 34, 158, 0.4) !important;
}
    .mixedui .div_planet_list_item_group:hover {
        border: 1px solid #663399 !important;
        background: rgba(99, 14, 138, 0.8) !important;
    }

    .mixedui .div_planet_list_item_group:active {
        border: 1px solid #663399 !important;
        background: #663399 !important;
        box-shadow: inset 0px 0px 10px #663399 !important;
    }

.mixedui .div_planet_list_item_active {
    background: rgba(99, 14, 138, 1) !important;
    border: 1px solid #663399 !important;
    box-shadow: 0px 0px 30px #663399 !important;
}

.mixedui .list_control_btn:hover {
        background: #660099;
        border: 1px solid #660066;
        box-shadow: inset 0px 0px 10px #660066;
    }

    .mixedui .list_control_btn:active {
        background: #660099;
        border: 1px solid #660099;
        box-shadow: inset 0px 0px 10px #660099;
    }

.mixedui .div_planet_list_panel {
    color:#660099 !important;
    text-shadow: 0px 0px 10px #660099 !important;
}

.mixedui .btn_planet_thumb {
    border: 1px solid #660099 !important;
    box-shadow: inset 0px 0px 10px rgba(99, 14, 138, 0.5) !important;
}

    .mixedui .btn_planet_thumb:hover {
        background:#660099 !important;
    }

.mixedui .btn_planet_thumb.btn_planet_thumb_active {
    background:#660099 !important;
}

.mixedui .planet_title {
    color:#FFF !important;
}

.mixedui .tooltip-inner {
    box-shadow: 0px 0px 20px rgba(99,14,138,0.5) !important;
}

.mixedui .div_planet_list_item_cont {
    box-shadow: none;
}