/* UNIT STYLE */
.legion {
    border: 1px solid rgba(255, 0, 0, 1) !important;
    background: rgba(70, 0, 0, 1) !important;
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

    .legion:hover {
        border: 1px solid rgba(160,0,0,0.8) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .legion:active {
        border: 1px solid rgba(255,0,0,0.8) !important;
        background: rgba(255,0,0,0.8) !important;
    }
    
.legion .span_selection_count {
    background: rgba(255,0,0,0.8) !important;
    border: 1px solid rgba(255, 18, 18, 0.5) !important;
    box-shadow: 0px 0px 20px rgba(160,0,0,0.8) !important;
}

.legion .span_selection_group.span_hotkey {
    color:white !important;
    background: rgba(255,0,0,0.8) !important;
    border: 1px solid rgba(255, 18, 18, 0.5) !important;
    box-shadow: 0px 0px 20px rgba(160,0,0,0.8) !important;
}

/* STYLES CAUSE COMM IS LEGION OR MIXED */
.legionui .div_selection_cont {
  border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/img_build_bar_menu_bground_legion.png) 35 35 23 35 fill !important;
}

.legionui .div_selection_cont .wrapper {
  box-shadow: 0px 0px 50px rgba(158, 0, 0, 0.5) !important;
  border: 1px solid rgba(160,0,0,0.8) !important;
}

.legionui .div_unit_selection {
    border: 1px solid rgba(160,0,0,0.8) !important;
    background: rgba(0, 20, 30, 1);
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

    .legionui .div_unit_selection:hover {
        border: 1px solid rgba(160,0,0,0.8) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .legionui .div_unit_selection:active {
        border: 1px solid rgba(255,0,0,0.8) !important;
        background: rgba(255,0,0,0.8) !important;
    }

.legionui .summary_bar {
   border-top: 1px solid rgba(255,0,0,0.8);
}
    
.legionui .unit_total {
    text-shadow: 0px 0px 10px rgba(160,0,0,0.8);
}

.legionui .summary_category.btn_std_ix {
    text-shadow: rgba(160,0,0,0.8) !important;
    border: 1px solid rgba(255,0,0,0.8) !important;
    color:rgba(160,0,0,0.8) !important;
}

.mixedui .div_selection_cont {
  border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/img_build_bar_menu_bground_mixed.png) 35 35 23 35 fill !important;
}

.mixedui .div_selection_cont .wrapper {
  box-shadow: 0px 0px 50px rgba(99, 14, 138, 0.5) !important;
  border: 1px solid rgba(97, 14, 138, 0.5) !important;
}

.mixedui .div_unit_selection {
    border: 1px solid rgba(160,0,0,0.8) !important;
    background: rgba(0, 20, 30, 1);
    box-shadow: inset 0px 0px 8px rgba(255, 18, 18, 0.5) !important;
}

    .mixedui .div_unit_selection:hover {
        border: 1px solid rgba(160,0,0,0.8) !important;
        background: rgba(160,0,0,0.8) !important;
    }

    .mixedui .div_unit_selection:active {
        border: 1px solid rgba(255,0,0,0.8) !important;
        background: rgba(255,0,0,0.8) !important;
    }

.mixedui .summary_bar {
   border-top: 1px solid rgba(255,0,0,0.8);
}
    
.mixedui .unit_total {
    text-shadow: 0px 0px 10px rgba(160,0,0,0.8);
}

.mixedui .summary_category.btn_std_ix {
    text-shadow: rgba(160,0,0,0.8) !important;
    border: 1px solid rgba(255,0,0,0.8) !important;
    color:rgba(160,0,0,0.8) !important;
}
