/* btn_std_ix */
.legion .btn_std_ix {
    background:rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
    box-shadow: inset 0px 0px 8px rgba(255, 0, 0, 0.1) !important;
    text-shadow: 0px 0px 15px rgba(255,0,0,.5) !important;
    color:white !important;
}

.legion .btn_std_ix:hover {
    background: rgba(255,0,0,0.7) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.5) !important;
}

.legion .btn_std_ix:active {
    background: rgba(255,0,0,0.85) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.85) !important;
}

/* button */
.legion button{
    background:rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
    box-shadow: inset 0px 0px 8px rgba(255, 0, 0, 0.1) !important;
    color:white !important;
}

.legion button:hover {
    background: rgba(255,0,0,0.8) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.5) !important;
}


/* nav pills */
.legion .nav-pills > li > a {
    text-shadow: 0px 0px 15px rgba(255,0,0,0.6) !important;
}

.legion .nav-pills > li > a:hover {
    text-shadow: 0px 0px 15px rgba(255,0,0,1) !important;
}

.legion .nav-pills > li > a:hover, .legion .nav-pills > li.active > a:hover {
    text-shadow: 0px 0px 15px rgba(255,0,0,1);
}

.legion .nav-pills > li.active > a, .legion .nav-pills > li.active > a:focus {
    text-shadow: 0px 0px 15px rgba(255,0,0,0.6);
}

/* input boxes */
.legion input[type="text"]:disabled, .legion input[type="password"]:disabled, .legion input[type="number"]:disabled {
    border: 1px solid rgba(255,0,0,0.2);
    background:rgba(70, 0, 0, 1);
    color:white;
    box-shadow: inset 0px 0px 8px rgba(255, 0, 0, 0.1);
}

.legion input.active:disabled {
    color:white;
    font-weight: 900;
    background:rgba(255, 0, 0, 0.8);
    border: 1px solid rgba(255,200,200,0.8);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
}

.legion input[type="text"], .legion input[type="password"], .legion .sub_options input[type="number"] {
    background: rgba(70,0,0,1) !important;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
}

/* btn_std */
.legion .btn_std {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red.png) 26 21 15 21 fill;
}

.legion .btn_std:hover {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red_hover.png) 26 21 15 21 fill;
}

.legion .btn_std:active {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red_active.png) 26 21 15 21 fill;
    box-shadow: inset 500px 500px 500px 500px #000;
}

/* dropdown menus */
.legion .dropdown-menu .text {
    text-shadow: 0px 0px 15px rgba(255,0,0,.5) !important; 
}

.legion .dropdown-menu {
    background: rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
}

.legion .dropdown-menu > li > a:hover {
    background: rgba(255, 0, 0, 0.85) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

.legion .dropdown-menu > li > a:focus {
    background: rgba(255, 0, 0, 0.7) !important;
    border:1px solid rgba(158, 0, 0, 0.1) !important;
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2) !important;
}

/* btn_hero */
.legion .btn_hero_disabled {
    margin: 0px 210px 0px 0px;    
}

.legion .btn_hero {
    margin: 0px 210px 0px 0px;
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red.png) 10 21 21 21 fill;
}

    .legion .btn_hero:hover {
        border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red_hover.png) 10 21 21 21 fill;
    }

    .legion .btn_hero:active {
        border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_lrg_red_active.png) 10 21 21 21 fill;
    }

/* dropdown system picker */
.legion .dropdown-system-picker {
    background: rgba(70,0,0,1);
    border: 1px solid rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(255,0,0,0.2);
}

.legion .dropdown-system-picker:hover {
    background: rgba(255, 0, 0, 0.8);
}

/* checkbox text color */
.legion .div_settings_control_input label, .div_settings_control_input label input[type="checkbox"] {
    color: white !important;
}

/* tooltips */
.legion .tooltip-inner {
    max-width: 190px !important;
    padding: 6px 8px;
    background-color: rgba(70,0,0,1) !important;
    box-shadow: 0px 0px 25px rgba(255,0,0,0.7) !important;
}

/* btn_toggle */
.legion .btn_toggle, .legion .btn_toggle_shared_army {
    background:rgba(70, 0, 0, 1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
    -webkit-box-shadow: none !important;
}

    .legion .btn_toggle:hover, .legion .btn_toggle_shared_army:hover {
        background: rgba(255,0,0,0.85) !important;
        border: 1px solid rgba(255, 0, 0, 0.2) !important;
        box-shadow: 0px 0px 20px rgba(255,0,0,1) !important;
    }

    .legion .btn_toggle:active, .legion .btn_toggle.live, .legion .btn_toggle_shared_army.on {
        background: rgba(255,0,0,0.7) !important;
        border:1px solid rgba(158, 0, 0, 0.1) !important;
        box-shadow: 0px 0px 20px rgba(255,0,0,0.5) !important;
    }

/* btn_std_gray */
.legion .btn_std_gray {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_std_red.png) 44 17 0 17 fill;
}

.legion .btn_std_gray:hover {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_std_red_hover.png) 44 17 0 17 fill;
}

.legion .btn_std_gray:active {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_std_red_active.png) 44 17 0 17 fill;
}

 .legion .btn_std_gray_disabled {
    border-image: url(coui://ui/mods/net.cosmicwar.insomnia-legion/img/btn_std_red.png) 44 17 0 17 fill;
}

/* army button 
.legion .army-button {
    background: rgba(70,0,0,1) !important;
    border: 1px solid rgba(255, 0, 0, 0.2) !important;
    box-shadow: none !important;
}

    .legion .army-button:hover {
        background: rgba(255,0,0,0.85) !important;
        border: 1px solid rgba(255, 0, 0, 0.2) !important;
        box-shadow: 0px 0px 20px rgba(255,0,0,1) !important;
    }

    .legion .army-button.on {
        background: rgba(255,0,0,0.7) !important;
        border:1px solid rgba(158, 0, 0, 0.1) !important;
        box-shadow: 0px 0px 20px rgba(255,0,0,0.5) !important;
    }*/