﻿.legion .body {
    color: white;
}

.legion .section_content {
    background: rgba(15,0,0,0.3) !important;
    height: calc(100% - 220px) !important;
}

.legion .section_content_table {
    width: 77%;
    padding: 0px 0px 0px 0px;
    background: rgba(15,0,0,0.15);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.9);
}

.legion .tab-wrapper {
    height: 100% !important;
    margin: 0px 0px;
    padding: 10px 0px 0px 20px;
}

.legion .section_content .col_1 {
    background: rgba(15,0,0,0.3);
    display: block !important;
    width: 17.8% !important;
}

.legion .section_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.legion .section_content .col_2 {
    height: 100% !important;
    width: 68%;
    flex-grow: 0;
    background: rgba(10,0,0,0.8) !important;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1) !important;
}

.legion .one-system, .one-planet {
    height: 100% !important;
    border: 1px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0px 0px 0px rgba(0, 179, 255, 0);
}

.legion .one_system_selected {
    border:1px solid rgba(158, 0, 0, 0.1);
    background: rgba(255,0,0,0.7);
    box-shadow: 0px 0px 20px rgba(255,0,0,0.5);
}

.legion .one-system:hover, one-planet:hover {
    border:1px solid rgba(158, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(255,0,0,0.5);
    background: rgba(255,0,0,0.85);
}

.legion .one-system:active {
    background: rgba(255,0,0,1);
    border:1px solid rgba(158, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(255,0,0,0.8);
}

.legion .system-properties {
    background: linear-gradient(to bottom, rgba(150,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.legion .system-title {
    text-shadow: 0px 0px 15px rgba(255,0,0,0.5);
}

.legion .section_content .col_3 {
    background: rgba(15,0,0,0.35);
}

.legion #detail-pane .one-planet-detail {
    background:rgba(10, 0, 0, 0.6); 
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.legion .thruster_count {
    background: url('coui://ui/mods/net.cosmicwar.insomnia-legion/img/icon_thruster.png') top center no-repeat;
    color: red;
    font-weight: bolder;
}

.legion .div_commit_cont {
    padding: 0px 20px 8px 0px;
}